{% include 'header.jinja' %}
Someone has proposed this feature:

   {{human_feature_des}}

The other person proposed this feature:

   {{model_feature_des}}

Can you compare the two features and determine if they are similar by semantic? 
If Yes, simply answer 1.
If No, simply answer 0.